# Server Configuration
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# PostgreSQL Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=exi_password_2026
POSTGRES_DB=go_to_message
DB_SYNCHRONIZE=true
DB_LOGGING=true

# JWT Authentication
JWT_SECRET=exi_super_secret_jwt_key_2026_change_in_production
JWT_EXPIRATION=1d
JWT_REFRESH_SECRET=exi_super_secret_refresh_jwt_key_2026
JWT_REFRESH_EXPIRATION=7d

# Cors Configuration
CORS_ORIGIN=*
